<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore>
		<scheduling>
			<!-- Agent for checking queued items. Interval is set to 1 minute. Adjust this to your needs.-->
			<agent type="Enterspeed.Source.SitecoreCms.V8.Agents.EnterspeedJobsAgent, Enterspeed.Source.SitecoreCms.V8" method="Run" name ="Enterspeed Jobs Agent" interval="00:01:00" resolve="true">
			</agent>
			<agent type="Enterspeed.Source.SitecoreCms.V8.Agents.DeleteOlderEnterspeedJobs, Enterspeed.Source.SitecoreCms.V8" method="Run" name ="Delete old Jobs Agent" interval="00:30:00" resolve="true">
			</agent>
		</scheduling>
		<commands>
			<command name="customribbons:alert" type="Enterspeed.Source.SitecoreCms.V8.Commands.SeedEnterspeed, Enterspeed.Source.SitecoreCms.V8"/>
		</commands>
		<services>
			<configurator type="Enterspeed.Source.SitecoreCms.V8.DependencyInjection.ServicesConfigurator, Enterspeed.Source.SitecoreCms.V8" />
		</services>

		<pipelines>
			<initialize>
				<processor type="Enterspeed.Source.SitecoreCms.V8.Pipelines.Initialize.InitializeEnterspeed, Enterspeed.Source.SitecoreCms.V8"
						   resolve="true"
						   patch:after="*[@type='Sitecore.ExperienceForms.Client.Pipelines.Initialize.InitializeRoutes, Sitecore.ExperienceForms.Client']" />

				<processor type="Enterspeed.Source.SitecoreCms.V8.RegisterEnterspeedRoutes, Enterspeed.Source.SitecoreCms.V8"
				           patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']" />
			</initialize>

			<publishItem>
				<processor patch:before="*[@type='Sitecore.Publishing.Pipelines.PublishItem.DetermineAction, Sitecore.Kernel']"
				           resolve="true"
				           type="Enterspeed.Source.SitecoreCms.V8.Events.DeleteEventHandler, Enterspeed.Source.SitecoreCms.V8" />
			</publishItem>
		</pipelines>

		<events>
			<event name="publish:itemProcessed">
				<handler type="Enterspeed.Source.SitecoreCms.V8.Events.PublishingEventHandler, Enterspeed.Source.SitecoreCms.V8"
						 method="OnItemProcessed"
						 resolve="true" />
			</event>
			<event name="item:saved">
				<handler type="Enterspeed.Source.SitecoreCms.V8.Events.SaveEventHandler, Enterspeed.Source.SitecoreCms.V8"
						 method="OnItemSaved"
						 resolve="true" />
			</event>
			<event name="publish:end">
				<handler type="Enterspeed.Source.SitecoreCms.V8.Events.PublishEndEventHandler, Enterspeed.Source.SitecoreCms.V8" method="PublishEnd" resolve="true"/>
			</event>
		</events>

		<log4net>
			<appender name="EnterspeedLogFileAppender" type="log4net.Appender.SitecoreLogFileAppender, Sitecore.Logging">
				<file value="$(dataFolder)/logs/Enterspeed.log.{date}.txt" />
				<appendToFile value="true" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%4t %d{ABSOLUTE} %-5p %m%n" />
				</layout>
				<encoding value="utf-8" />
			</appender>

			<logger name="Enterspeed.Logger" additivity="false">
				<level value="INFO"/>
				<appender-ref ref="EnterspeedLogFileAppender"/>
			</logger>
		</log4net>
	</sitecore>
</configuration>

