<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore>
		<scheduling>
			<!-- Agent for checking queued items. Interval is set to 1 minute. Adjust this to your needs.-->
			<agent type="Enterspeed.Source.SitecoreCms.V8.Agents.EnterspeedQueueAgent, Enterspeed.Source.SitecoreCms.V8" method="Run" name ="Enterspeed Queue Agent" interval="01:00:00">
				<!-- The sites names comma separated-->
				<sites>/sitecore/content/onemeddotcom/home</sites>
			</agent>
		</scheduling>
		<services>
			<configurator type="Enterspeed.Source.SitecoreCms.V8.DependencyInjection.ServicesConfigurator, Enterspeed.Source.SitecoreCms.V8" />
		</services>

		<pipelines>
			<initialize>
				<processor type="Enterspeed.Source.SitecoreCms.V8.Pipelines.Initialize.InitializeEnterspeed, Enterspeed.Source.SitecoreCms.V8"
						   resolve="true"
						   patch:after="*[@type='Sitecore.ExperienceForms.Client.Pipelines.Initialize.InitializeRoutes, Sitecore.ExperienceForms.Client']" />
			</initialize>
		</pipelines>

		<events>
			<event name="publish:itemProcessed">
				<handler type="Enterspeed.Source.SitecoreCms.V8.Events.PublishingEventHandler, Enterspeed.Source.SitecoreCms.V8"
						 method="OnItemProcessed"
						 resolve="true" />
			</event>
			<event name="item:saved">
				<handler type="Enterspeed.Source.SitecoreCms.V8.Events.SaveEventHandler, Enterspeed.Source.SitecoreCms.V8"
						 method="OnItemSaved"
						 resolve="true" />
			</event>
		</events>

		<log4net>
			<appender name="EnterspeedLogFileAppender" type="log4net.Appender.SitecoreLogFileAppender, Sitecore.Logging">
				<file value="$(dataFolder)/logs/Enterspeed.log.{date}.txt" />
				<appendToFile value="true" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%4t %d{ABSOLUTE} %-5p %m%n" />
				</layout>
				<encoding value="utf-8" />
			</appender>

			<logger name="Enterspeed.Logger" additivity="false">
				<level value="INFO"/>
				<appender-ref ref="EnterspeedLogFileAppender"/>
			</logger>
		</log4net>
	</sitecore>
</configuration>