<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <services>
      <configurator type="Enterspeed.Source.SitecoreCms.V9.DependencyInjection.ServicesConfigurator, Enterspeed.Source.SitecoreCms.V9" />
    </services>

    <pipelines>
      <initialize>
        <processor type="Enterspeed.Source.SitecoreCms.V9.Pipelines.Initialize.InitializeEnterspeed, Enterspeed.Source.SitecoreCms.V9"
                   resolve="true"
                   patch:after="*[@type='Sitecore.ExperienceForms.Client.Pipelines.Initialize.InitializeRoutes, Sitecore.ExperienceForms.Client']" />
      </initialize>
    </pipelines>

    <events>
      <event name="publish:itemProcessed">
        <handler type="Enterspeed.Source.SitecoreCms.V9.Events.PublishingEventHandler, Enterspeed.Source.SitecoreCms.V9"
                 method="OnItemProcessed"
                 resolve="true" />
      </event>
    </events>
  </sitecore>
</configuration>