<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <services>
      <configurator type="Enterspeed.Source.SitecoreCms.V9.DependencyInjection.ServicesConfigurator, Enterspeed.Source.SitecoreCms.V9" />
    </services>

    <pipelines>
      <initialize>
        <processor type="Enterspeed.Source.SitecoreCms.V9.Pipelines.Initialize.InitializeEnterspeed, Enterspeed.Source.SitecoreCms.V9"
                   resolve="true"
                   patch:after="*[@type='Sitecore.ExperienceForms.Client.Pipelines.Initialize.InitializeRoutes, Sitecore.ExperienceForms.Client']" />
      </initialize>
    </pipelines>

    <events>
      <event name="publish:itemProcessed">
        <handler type="Enterspeed.Source.SitecoreCms.V9.Events.PublishingEventHandler, Enterspeed.Source.SitecoreCms.V9"
                 method="OnItemProcessed"
                 resolve="true" />
      </event>
    </events>

    <log4net>
      <appender name="EnterspeedLogFileAppender" type="log4net.Appender.RollingFileAppender, Sitecore.Logging">
        <file value="$(dataFolder)/logs/Enterspeed.log.{date}.{time}.txt"/>
        <appendToFile value="true"/>
        <rollingStyle value="Size"/>
        <maxSizeRollBackups value="-1"/>
        <maximumFileSize value="10MB"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%4t %d{ABSOLUTE} %-5p %m%n"/>
        </layout>
        <encoding value="utf-8"/>
      </appender>

      <logger name="Enterspeed.Logger" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="EnterspeedLogFileAppender"/>
      </logger>
    </log4net>
  </sitecore>
</configuration>